
body {
    font-family: sans-serif;

}

header {
    display: flex;
    margin: 50;
    align-items: flex-start;
    font-size: 25px;
    color: #f1eff7;
    padding: 30px;
    background-color: f84f39
}

.qst-crd {
    font-size: 20;
    border: 1px solid #ddd;
    margin: 50px;
    color: 6b66da;
    background-color: f4f3fa;
    box-shadow: 0 4px 8px #e4e4f0;
    align-items: center;
    justify-content: center;
   
}

h2 {
position: relative;
margin: 10px;



}
h3 {
    position: relative;
margin: 10px;
bottom: 20px;

}

.tgs {  
 position: relative;
 bottom: 10px;
 left: 10px;
 font-size: 10px;
 color: #2a966f;
}

.tg-bx {
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    background-color: f84f39;
    color: #f4f3fa;
    border-radius: 5px;
}

.bkmrk {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #3498db;
}

.btn {
    display: block;
    font-size: medium;
    padding: 10;
    margin: 50px auto;
    background-color: #2a966f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    
}

footer {
    font-size: 20;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 50px;
    color: 6b66da;
    position: relative;
    background-color: #f84f39;
    box-shadow: 0 8px 16px #2a966f;

}

nav {
    display: flex;
    justify-content:left;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #2b966f;
    font-weight: bold;
    transition: color 1s;
}

nav a:hover {
    color: #2b966f;
    background-color: f4f3fa;
    ;
}

 
 .one {
        flex: 1;
        height: 30;
      }
      
      .two {
        flex: 1;
        height: 30
      }
      
      .three {
        flex: 1;
        height: 30
      } 